/* Haremos un grid template para toda la página de 4*2 */
/* Si la pagina es menos de 600px de ancho, será un flexbox */

#uab-logo {
  transform: rotate(0deg) scale(0);
  animation-name: girarYAmpliar;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes girarYAmpliar {
  to {
    transform: rotate(360deg) scale(1); /* rota 360 grados */
  }
}

#layout{
    display: grid;
    grid-template-areas: 
        "titol titol"
        "grauList registre"
        "stats stats"
        "peu peu";
    background-color: lightgray;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
}
#titol{
    grid-area: titol;
}
#grauList{
    grid-area: grauList;
}
#registre{
    grid-area: registre;
}
#stats{
    grid-area: stats;
    margin-left: auto;
    margin-right: auto;
}
#peu{
    grid-area: peu;
}

.area{
    background-color: white;
    padding: 5px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 600px){
    #layout{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #stats{
        margin-left: 0;
        margin-right: 0;
    }
    .area{
        text-align: left;
    }
}

h1{
    color: #01008B;
}
h1,h3{
    font-style: italic;
}
header p{
    font-family: 'Courier New', Courier, monospace;
}
.fancy{
    font-family: 'Times New Roman', Times, serif;
}
header.fancy{
    color: magenta;
}
section.statistics header h3{
    color: red
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse
}
p.important{
    font-weight: bold;
    font-size: 30px;
    background-color: aqua;
}
img{
    float: left;
    padding: 0 0 0 10px;
}
ul li{ /*perquè les “bullets” quedin alineades amb el text*/
    list-style-position:inside;
}